@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background-image: url(img/couro.jpg);

 

}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
}

.cabecalho-imagem {
  height: 60px;
}

.cabecalho-menu {
  display: flex;
  gap: 32px;
}

.cabecalho-menu-item  {
  font-family: "Montserrat", sans-serif;
  color: #FFF2E7;
  font-weight: 500;
  font-size: 18px;
  justify-content: space-around;
  
}

.conteudo {
  margin-bottom: 48px;
  border-top: 0.4px solid rgba(211, 52, 163, 0.53);
}

.conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.conteudo-principal-escrito {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.conteudo-principal-escrito-titulo {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #BF4CC5;
}

.conteudo-principal-escrito-subtitulo {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #ffffff;
}

.conteudo-principal-escrito-botao {
  background-color: rgba(211, 52, 163, 0.53);
  cursor: pointer;
  width: 180px;
  height: 60px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 90px;
  font-family: 'Sarala', sans-serif;
  font-weight: 100;
  font-size: 20px;
  color: #ffffff;
}

.conteudo-principal-escrito-botao:hover {
  background-color: rgba(179, 164, 174, 0.53);
}

.conteudo-principal-imagem {
  height: 550px;

}

.conteudo-secundario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 48px;
}

.conteudo-secundario-titulo {
  border-top: 0.4px solid rgba(179, 164, 174, 0.53);
  padding-top: 48px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: rgba(127, 29, 240, 0.849);
  margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
  font-family: 'Sarala', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #ECD6C4;
}
.conteudo-paragrafo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 48px; 
}
.conteudo-secundario-2{
  font-family: 'Sarala', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #ECD6C4;
}

.container {
  width: 1150px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.container .card {

  padding: 10px;
  width: 300px;
  background-color: #fff;
  margin: 20px;
  border: 1px solid rgba(211, 52, 163, 0.53);
  border-radius: 20px;
  overflow: hidden;
  transition: 0.5s;
  text-align: center;
}

.container .card img {
  transition: 0.5s;
}

.container .card h1 {
  font-size: 2rem;
}

.container .card .content {
  padding: 20px;
  text-align: center;
}

.container .card .content p {
  color: #666;
  transition: 0.5s;
}

.container .card .content a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background-color:rgba(133, 34, 105, 0.53);
  color: #fff;
  border-radius: 40px;
  text-decoration: none;
  transition: 0.5s;
  outline: none;
  margin-top: 20px;
}

.container .card:hover {
  background-color:rgba(211, 52, 163, 0.53);
  color: white;
  margin-top: -30px;
  box-shadow: 2px 20px 25px #dc2e685d;
  border-color:rgba(211, 52, 163, 0.53);
}

.container .card:hover img {
  filter: invert(1);
}

.container .card:hover .content p {
  color: white;
}

.container .card:hover .content a{
  color:rgba(211, 52, 163, 0.53);
  background-color: white;
}
