@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background-image: url(img/layanefundo.jpg);

 

}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
}


.cabecalho-menu {
  display: flex;
  gap: 32px;
}

.cabecalho-menu-item  {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  justify-content: space-around;
  
}

.conteudo {
  margin-bottom: 48px;
  border-top: 0.4px solid rgba(211, 52, 163, 0.53);
}

.conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.conteudo-principal-escrito {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.conteudo-principal-escrito-titulo {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #b1abb1;
}

.conteudo-principal-escrito-subtitulo {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #ffffff;
}

.conteudo-principal-escrito-botao {
  background-color: rgba(211, 52, 163, 0.53);
  cursor: pointer;
  width: 180px;
  height: 60px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 90px;
  font-family: 'Sarala', sans-serif;
  font-weight: 100;
  font-size: 20px;
  color: #ffffff;
}

.conteudo-principal-escrito-botao:hover {
  background-color: rgba(179, 164, 174, 0.53);
}

.conteudo-secundario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 48px;
}

.conteudo-secundario-titulo {
  border-top: 0.4px solid rgba(179, 164, 174, 0.53);
  padding-top: 48px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: rgba(127, 29, 240, 0.849);
  margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
  font-family: 'Sarala', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #ECD6C4;
}
.conteudo-paragrafo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 48px; 
}
.conteudo-secundario-2{
  font-family: 'Sarala', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #ECD6C4;
}

.container {
  width: 1150px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.container .card {

  padding: 10px;
  width: 300px;
  background-color: #fff;
  margin: 20px;
  border: 1px solid rgba(211, 52, 163, 0.53);
  border-radius: 20px;
  overflow: hidden;
  transition: 0.5s;
  text-align: center;
}

.container .card img {
  transition: 0.5s;
}

.container .card h1 {
  font-size: 2rem;
}

.container .card .content {
  padding: 20px;
  text-align: center;
}

.container .card .content p {
  color: #666;
  transition: 0.5s;
}

.container .card .content a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background-color:rgba(133, 34, 105, 0.53);
  color: #fff;
  border-radius: 40px;
  text-decoration: none;
  transition: 0.5s;
  outline: none;
  margin-top: 20px;
}

.container .card:hover {
  background-color:rgba(211, 52, 163, 0.53);
  color: white;
  margin-top: -30px;
  box-shadow: 2px 20px 25px #dc2e685d;
  border-color:rgba(211, 52, 163, 0.53);
}

.container .card:hover img {
  filter: invert(1);
}

.container .card:hover .content p {
  color: white;
}

.container .card:hover .content a{
  color:rgba(211, 52, 163, 0.53);
  background-color: white;
}

/* Todos os elementos da página */
* {
  margin: 0;
  padding: 0;
}

/* Elementos com o ID "titulo" */
#titulo {
  font-family: sans-serif;
  color: #ffffff;
  margin-left: 7%;
} 

/* Elementos com o ID "subtitulo" */
#subtitulo {
  font-family: sans-serif;
  color: #BF4CC5;
  margin-left: 10%;
} 

#check{
  display: inline-block;
}

/* Elementos de tag <fieldset>*/
fieldset {
  border: 0;
}

/* Elemento de tag <body> */
body{
  background-color: #F0F8FF;
  font-family: sans-serif;
  font-size: 1em;
  color: #BF4CC5;
  margin-left: 36%;
  margin-top: 2%;
  justify-content: center;
}

/* Elementos de tags <body>, <input>, <Select>, <textarea> e <button> */
input, select, textarea, button {
  font-family: sans-serif;
  font-size: 1em;
  color: #BF4CC5;
  border-radius: 5px;
}

/* Elementos de classe "grupo" nos estados das pseudoclasses "before" e "after" */
.grupo:before, .grupo:after {
  display: table;
}

/* Elementos de classe "grupo" no estado da pseudoclasse "after" */
.grupo:after {
  clear: both;
}

/* Elementos de classe "campo" */
.campo {
  margin-bottom: 1em;
}

/* Elementos de classe "campo" de tag <label> */
.campo label {
  margin-bottom: 0.2em;
  color: #BF4CC5;
  display: block;
}

/* Elementos de classe "campo" ou "grupo" de tag <fieldset> */
fieldset.grupo .campo {
  float:  left;
  margin-right: 1em;
}

/* Elementos de classe "campo" das tags <input> com atributo text e email, da tag <select> e da tag <textarea>*/
.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
  padding: 0.2em;
  border: 1px solid #59429d;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  display: block;
}

/* Elementos de classe "campo" de tag <select> e <option>*/
.campo select option {
  padding-right: 1em;
}

/* Elemento de classe "campo" com tag <input>, <select> e <textarea> tocas com estado da pseudoclasse "focus"*/
.campo input:focus, .campo select:focus, .campo textarea:focus {
  background: #E0E0F8;
}

/* Elemento de classe "botao" */
.botao {
  font-size: 1.2em;
  color: #BF4CC5;
  background: #666;
  border: 0;
  margin-bottom: 1em;
  color: #ffffff;
  padding: 0.2em 0.6em;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  position: absolute;
  top: 90%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

/* Elemento de classe "botao" com o estado da pseudoclasse "hover" */
.botao:hover {
  background: #CCBBFF;
  box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
  text-shadow: none;
}

/* Elementos de classe botão e de tag <select> */
.botao, select{
  cursor: pointer;
}
